In [17]:
import pandas as pd

# Load CSV file into a DataFrame
df = pd.read_csv('./MOCK_DATA.csv')

In [18]:
# Define table name and columns
table_name = 'books'
columns = ', '.join(df.columns)

In [19]:
df.columns

Index(['book_id', 'author_id', 'title', 'year', 'language', 'price',
       'sellable', 'copies'],
      dtype='object')

In [20]:
insert_statements = []
for _, row in df.iterrows():
    values = ', '.join(f"'{str(val)}'" for val in row)
    insert_statements.append(f"INSERT INTO {table_name} ({columns}) VALUES ({values});")

In [21]:
# Save the SQL script to a file
with open('insert_script.sql', 'w') as f:
    f.write('\n'.join(insert_statements))