In [6]:
import pandas as pd

# Load CSV file into a DataFrame
df = pd.read_csv('./MOCK_DATA.csv')

In [7]:
# Define table name and columns
table_name = 'operations'
columns = ', '.join(df.columns)

In [8]:
df.columns

Index(['operation_id', 'book_id', 'client_id', 'created_at', '`type`',
       'finished'],
      dtype='object')

In [9]:
insert_statements = []
for _, row in df.iterrows():
    values = ', '.join(f"'{str(val)}'" for val in row)
    insert_statements.append(f"INSERT INTO {table_name} ({columns}) VALUES ({values});")

In [10]:
# Save the SQL script to a file
with open('insert_script.sql', 'w') as f:
    f.write('\n'.join(insert_statements))