# INSERT

## Comando INSERT

script **2_insert.sql**

Existen muchas formas de hacer un INSERT, tomemos por ejemplo la tabla *authors*

![](https://i.imgur.com/GlKmJBW.png)

Y tambien varias filas a la vez:

Se recomienda en inserciones masivas de datos, hacerlos en *chunks* de a 50.

![](https://i.imgur.com/hhCSU5r.png)

## Comando on duplicate key

**script 3_insert.sql**

Ayuda a que los flujos sean mucho mas rapidos. 

Vamos a insertar unos datos en la tabla *clients* que ahora mismo esta vacia. 

![](https://i.imgur.com/w1t3PTX.png)

Ahora, intentemos ingresar un nuevo usuario, pero con el mismo correo de *Ana Ruiz*:

![](https://i.imgur.com/WgTuirc.png)

No lo va a permitir, porque al momento de declarar la tabla, el email tenia que ser unico para cada usuario

### IGNORE ALL - MALA PRACTICA

Nunca lo uses: DE hecho no funciono

### UPDATE

Para el caso, simplemente actualiza el estado activo:

![](https://i.imgur.com/APfUqSi.png)

Si quieres que muestre la informacion de otra forma, es muy util:

    select * from clients where client_id=6 \G ðŸ‘ˆ


![](https://i.imgur.com/Q6bYUPd.png)

CTRL +L para limpiar pantalla ðŸ‘ˆ

## Insercion de datos usando Querries anidados

**script 3_insert.sql**

Supongamos tenemos un CSV con los nombres de algunos libros de Gabriel Garcia Marquez:

    Title,Year,Genre
    One Hundred Years of Solitude,1967,Magical Realism
    Love in the Time of Cholera,1985,Romance
    Chronicle of a Death Foretold,1981,Mystery
    The Autumn of the Patriarch,1975,Political Fiction
    Love and Other Demons,1994,Horror
    Of Love and Other Demons,1994,Romance

Si quisieramos ingresar todos estos libros a mano, debemos ubicar primero el ID del author:

    select * from authors where name='Gabriel Garcia';

![](https://i.imgur.com/JExDB6O.png)

El ID es 3.

Ahora escribimos un INSERT para ingresarlo en la tabla libros:

    INSERT INTO books(author_id, title, year, language) 
    VALUES (3, 'One Hundred Years of Solitude', 1967,'en' );

### Usando un Querry anidado

para encontrar el ID del autor en el mismo:

![](https://i.imgur.com/YsA1PPV.png)

Es mas, para la siguiente insercion lo vamos hacer mucho mas elaborado, para limitarlo solamente a un registro, con *LIMIT*:

    INSERT INTO books(author_id, title) 
    VALUES ((SELECT author_id FROM authors 
    WHERE `name`='Gabriel Garcia'
    LIMIT 1), ðŸ‘ˆ
    'Chronicle of a Death Foretold');

El profesor no es muy fan de los Querris Anidados, esto deberia estar en una otra capa de negocio para traer todos los autores, y saber cual es su ID, y desde el lenguaje de programacion, sea el que sea, y fuera de la BD hacer esto. Pero MySQL lo permite, es potente pero hay que usarlo con cuidado. 

Otra de las razones para *NO USAR* querries anidados es que el tiempo se eleva al cuadrado, y asi por cada una de las tuplas que se vaya a ejecutar.